<div id="footer" class="panel">
  <div class="panel-footer">
	<div class="container-fluid">
	  <div class="row">
		<div class="col-sm-4">
		  folding space studio<br />
		  including the UBC Geographical Computation Lab<br /><br />
		  <em>Updated by Luke Bergmann and Claude, 2026</em>
		</div>
		<div class="col-sm-4">
		  with support from<br />
		  - <a href="https://www.chairs-chaires.gc.ca/">Canada Research Chairs</a><br />
		  - <a href="https://www.innovation.ca/">Canada Foundation for Innovation</a><br />
		  - <a href="https://geog.ubc.ca/">UBC Geography</a><br />
		  - <a href="https://www.arts.ubc.ca/">UBC Arts</a>
		</div>
		<div class="col-sm-4">
		  Contact:<br />
		  <a href="mailto:luke.bergmann@ubc.ca">luke.bergmann@ubc.ca</a><br />
		  Department of Geography, University of British Columbia<br />
		  1984 West Mall, Vancouver, BC V6T 1Z2, Canada
		</div>
	  </div>
	</div>
  </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="{{ site.url }}{{ site.baseurl }}/js/bootstrap.min.js"></script>
